// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$black: #000000;
$dark: #212529;
$dark-1: #22272A;
$dark-2: #394146;
$light: #f8f9fa;
$light-1:#DAE0E5;
$light-2:#9EAEBB;
$light-3: #F1F1F1;
$white: #ffffff;
$warning: #ffc107;
$gold: #ffe23c;
$gold-1:#FFDA09;
$gold-2:#FFE555;
$danger: #dc3545;
$red: #b90d1e;
$red-1: #EF162C;
$red-2: #F23A4D;
$pink:#ECCCCF;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$blue: #0D6EFD;
$blue-1: #0257D5;
$blue-2: #5A9CFE;
$gray: #F7F7F7;
$dark-gray:#495057;