// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$black: #000000;
$dark: #212529;
$light: #f8f9fa;
$white: #ffffff;
$warning: #ffc107;
$gold: #ffe23c;
$danger: #dc3545;
$dangerous: #b90d1e;
$pink:#ECCCCF;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$gray: #F7F7F7;
$dark-gray:#495057;