// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.desc-box{
    min-height: 8rem;
}

.card-light{
    color: $dark;

    .card-header{
        background-color: $light;
    }

    .card-body{
        background-color: $white;
    }

    .desc-box{
        color: $dark;
        background-color: $gray;
    }
}

.card-dark{
    color: $light;

    .card-header{
        background-color: $dark;
    }

    .card-body{
        background-color: $dark-gray;
    }

    .desc-box{
        color: $dark;
        background-color: $gray;
    }
}

.card-danger{
    color: $light;

    .card-header{
        background-color: $dangerous;
    }

    .card-body{
        background-color: $danger;
    }

    .desc-box{
        color: $dark;
        background-color: $gray;
    }
}

.card-warning{
    color: $dark;

    .card-header{
        background-color: $gold;
    }

    .card-body{
        background-color: $warning;
    }

    .desc-box{
        color: $dark;
        background-color: $gray;
    }
}

.theme-light{
    background-color: $light;
    color: $dark;
}

.theme-dark{
    background-color: $dark;
    color: $light;
}

.theme-danger{
    background-color: $danger;
    color: $light;
}

.theme-warning{
    background-color: $warning;
    color: $dark;
}

.floating-message{
    position: fixed;
    opacity: 0;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    animation: op0 6000ms ease;
    visibility: hidden;
    @keyframes op0 {
      0%{
        opacity: 1;
        visibility: visible;
      }
      75%{
        opacity: 1;
        visibility: visible;
      }
      100%{
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .text-area-resize-none{
    resize:none;
    min-height: 8rem!important;
  }