// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.floating-message{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }

  .op100-0{
    opacity: 0;
    animation: op0 6000ms ease;
    visibility: hidden;
    @keyframes op0 {
      0%{
        opacity: 1;
        visibility: visible;
      }
      75%{
        opacity: 1;
        visibility: visible;
      }
      100%{
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .text-area-resize-none{
    resize:none;
    min-height: 8rem!important;
  }

  .cheat-sheet{
    .cheat-sheet-head{
        margin: 0;
        padding: 1rem 1rem;
        text-align: center;
        border-radius: .25rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cheat-sheet-desc{
        backdrop-filter: blur(3px);
        height: 100%;
        padding: .5rem .5rem;
        margin: 0;
    }
    .card{
        border-radius: .25rem;
    }
    .cs-row{
        padding: 1rem 1rem;
        p{
            margin: 0;
        }
    }
    .cs-row:first-child{
        border-radius: .25rem .25rem 0 0;
    }
    .cs-row:last-child{
        border-radius: 0 0 .25rem .25rem;
    }
    .field-title{
        font-weight: bold;
        font-size: 1rem;
    }
    .field-info{
        font-size: .8rem;
    }
  }

  .theme-dark{
    color: $light;
    .cheat-sheet-head{
        background-color: $dark;
    }
    .cs-row:nth-child(odd){
        background-color: $dark-1;
    }
    .cs-row:nth-child(even){
        background-color: $dark-2;
    }
  }

  .option-dark{
    background-color: $dark;
    color: $light;
  }

  .card-dark{
      color: $light;
      .card-header{
        background-color: $dark;
        color: $light;
      }
      .card-body{
        background-color: $dark-2;
        color: $light;
      }
  }

  .theme-light{
    color: $dark;
    .cheat-sheet-head{
        background-color: $light-1;
    }
    .cs-row:nth-child(odd){
        background-color: $light-2;
    }
    .cs-row:nth-child(even){
        background-color: $light-3;
    }
  }

  .option-light{
    background-color: $light;
    color: $dark;
  }

  .card-light{
      color: $dark;
      .card-header{
        background-color: $light-2;
        color: $dark;
      }
      .card-body{
        background-color: $light-1;
        color: $dark;
      }
  }

  .theme-red{
    color: $light;
    .cheat-sheet-head{
        background-color: $red;
    }
    .cs-row:nth-child(odd){
        background-color: $red-1;
    }
    .cs-row:nth-child(even){
        background-color: $red-2;
    }
  }
  
  .option-red{
    background-color: $red;
    color: $light;
  }

  .card-red{
      color: $light;
      .card-header{
        background-color: $red;
        color: $light;
      }
      .card-body{
        background-color: $red-2;
        color: $light;
      }
  }

  .theme-gold{
    color: $dark;
    .cheat-sheet-head{
        background-color: $gold;
    }
    .cs-row:nth-child(odd){
        background-color: $gold-1;
    }
    .cs-row:nth-child(even){
        background-color: $gold-2;
    }
  }

  .option-gold{
    background-color: $gold;
    color: $dark;
  }

  .card-gold{
      color: $dark;
      .card-header{
        background-color: $gold-1;
        color: $dark;
      }
      .card-body{
        background-color: $gold-2;
        color: $dark;
      }
  }

  .theme-blue{
    color: $light;
    .cheat-sheet-head{
        background-color: $blue;
    }
    .cs-row:nth-child(odd){
        background-color: $blue-1;
    }
    .cs-row:nth-child(even){
        background-color: $blue-2;
    }
  }

  .option-blue{
    background-color: $blue;
    color: $light;
  }

  .card-blue{
      color: $light;
      .card-header{
        background-color: $blue-1;
        color: $light;
      }
      .card-body{
        background-color: $blue-2;
        color: $light;
      }
  }